html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 10px;
  height: 100%;
}

main{
    height:100%
}

.swagger{
    position:absolute;
    left:0;
    top:50px;
    width:100%;
    height:95%
}

.fcontainer {
    position: fixed;
    bottom: 0px;
    background-color: #1b1b1b;
    width: 100%;
    height: 25px;
    padding: 0;
    justify-items: center;
}

.fcopy {
    font-size: 12px;
    color: aliceblue;
    padding-top: 5px;
}

body {
    background-color: #121212 !important;
    color: #ffffff !important;
}

.card {
    background-color: #1f1f1f !important;
    border: 1px solid #444 !important;
}

.card-header {
    background-color: #292929 !important;
    border-bottom: 1px solid #444 !important;
}


.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.table-dark.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.15) !important;
}

.alert-warning {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
    color: #212529 !important;
}

h2.text-white {
    color: #ffffff !important;
}

.btn-info {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.add-button{
    margin: 5px;
    margin-left : 0;
}